<!DOCTYPE html>
<html data-theme="cupcake">
<head>
  <title><%= content_for(:title) || "Murmur" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="bg-base-200 min-h-screen" data-controller="turbo-loading">
<%= render "shared/navbar" %>

<main class="border-base-300 border-s border-t md:rounded-ss-xl">
  <div class="text-base-content pt-6 transition-colors duration-500 bg-base-200">
    <div class="flex items-center justify-between gap-4 px-8 ps-10">
      <h1 class="font-title text-lg md:max-lg:hidden"><%= content_for(:page_title) %></h1>
    </div>
    <div class="px-4 pb-4 sm:px-6 sm:pb-5 md:px-8 md:pb-6 overflow-x-auto">
      <div class="text-base-content">
        <div id="flash" class="w-1/2">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %>"><%= value %></div>
          <% end %>
        </div>

        <%= yield %>
      </div>
    </div>
  </div>
</main>
<%= turbo_frame_tag "modal" %>
<div id="confetti-area"></div>
<!-- for flash messages -->
<%= turbo_frame_tag "flash" do %>
  <%= render "shared/flash" %>
<% end %>
<%= turbo_frame_tag "modal" %>
</body>
</html>
