<%= form_with(model: murmur, class: "space-y-6") do |form| %>
  <% if murmur.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg my-3">
      <h2><%= pluralize(murmur.errors.count, "error") %> prohibited this murmur from being saved:</h2>

      <ul>
        <% murmur.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col gap-1 mb-1">
    <%= form.text_area :content, placeholder: 'Murmur Content', class: 'textarea' %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Save", class: "btn btn-neutral", data: { cy: "submit-murmur" } %>
  </div>
<% end %>
